body {
    font-family: verdana, arial, serif; 
    color: #5070a0;
    background-color: #292929;
}

#taskTable {
    width: 100%;
    color: #6a98de;
    text-align: center;
}

#taskTableHead {
    background-color: #171717;
} /*I'm able to target ONE ROW, but not the WHOLE table head or body!?*/

#taskTableBody {
    background-color: #212121;
} /*WHY am I NOT able to target the tablehead or the tablebody specifically?!*/

